body {
  overflow-x: hidden;
}

* {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans Extrabold", sans-serif;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
